<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel Photo Slider</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="slider-container">
        <div class="slider-frame">
            
            <div class="slide">
                <img src="/CC/png/진호.jpeg" alt="Photo 1">
                <p>#신혼여행 #추억<br><strong>전남친 현남편과의 허니문 🧡</strong></p>
            </div>
            <div class="slide">
                <img src="" alt="Photo 2">
                <p>#보드 #잘탄다!!<br><strong>우리 아이들의 첫 보드 게시!!</strong></p>
            </div>
            <div class="slide">
                <img src="" alt="Photo 3">
                <p>#우리 해피 #행복하니?<br><strong>우리 해피 무지개 다리 건너기 전 😢😢</strong></p>
            </div>
            <div class="slide">
                <img src="/CC/png/진호.jpeg" alt="Photo 1">
                <p>#신혼여행 #추억<br><strong>전남친 현남편과의 허니문 🧡</strong></p>
            </div>
            <div class="slide">
                <img src="" alt="Photo 2">
                <p>#보드 #잘탄다!!<br><strong>우리 아이들의 첫 보드 게시!!</strong></p>
            </div>
            <div class="slide">
                <img src="" alt="Photo 3">
                <p>#우리 해피 #행복하니?<br><strong>우리 해피 무지개 다리 건너기 전 😢😢</strong></p>
            </div>
        </div>
    </div>

    <script src="script1.js"></script>
</body>
</html>