<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
    <img src="images/ThinQ.png" alt="씬큐 메인 화면" id="thinQ">

    <form action="linq" method="get">
        <button class="button">LinQ</button>
    </form>
</body>

</html>